<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Machine</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="../static/css/index.css">
    
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/socket.io.min.js"></script>


    
    <script>
            var socket = io.connect("http://localhost:5000")
    </script>   
</head>

<body>
    <div class="container">
      

            {% block content %}
            {% endblock %}
   
    </div>
</body>

</html>